* {
    padding: 0px;
    margin: 0px;
}

.container {
    display: block;
}

.row .row-show-all {
    /* align-items: center;
    align-content: center; */
    margin-left: 43%;
    margin-bottom: 20px;
}

.compare:hover {
    background: #f7544a;
    color: #fff;
}

.featured-products {
    padding-top: 0px;
}

.logo-shop {
    border: 1px solid #f7544a;
    display: flex;
    border-radius: 10px;
}

.logo-shop img {
    width: 70%;
    height: 1em;
}

.logo-shop a {
    display: inline;
}

.featured-products,
.hot-products,
.our-brand {
    float: left;
    width: 100%;
    position: relative;
    padding: 15px 0 0 0;
}

#featured,
#hot,
#brand,
#braldLogo {
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 100%;
}

#featured li,
#hot li,
#brand li,
#braldLogo li {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    display: inline;
}

.featured-products,
.our-brand {
    padding-top: 30px;
}


/* nút bấm đăng nhập */

.button-account {
    border-radius: 10px;
    border: 1px solid #f7544a;
}


/*products */

.products {
    border: 1px solid #e1e1e1;
    min-height: 400px;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
    margin-bottom: 15px
}

.products:hover {
    background: #fff;
    border-color: #f7544a;
    -webkit-box-shadow: 0 0 5px 1px #d3d3d3;
    box-shadow: 0 0 5px 1px #d3d3d3;
}

.offer {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 99;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background: #f7544a;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.thumbnail {
    float: left;
    position: relative;
    width: 100%;
    margin: 45px 0 5px 0;
    padding: 0;
    border: none;
    text-align: center;
}

.thumbnail img {
    height: 45%;
    width: 90%;
}

.productname {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #2f2f2f;
    margin-bottom: 10px;
    color: #333333;
}

.products .price {
    float: left;
    width: 100%;
    color: #ff1e2c;
    text-align: center;
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 24px;
}

.products .button_group {
    display: flex;
    float: left;
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: white;
}

.products .button {
    border: #f7544a 1px solid;
    border-radius: 5px;
    margin: 0 3px 5px 3px;
    padding: 5px 10px 5px 10px;
    background-color: white;
}

.products .button .add-cart {
    width: 70%;
}

.products .button .fa {
    width: 30%;
    color: #f7544a;
}

.products .button:hover {
    background: #f7544a;
    color: #fff;
}

.products .button:hover .fa {
    color: white;
}


/* products-grid */

.products-grid {
    position: relative;
    width: 100%;
}

.products-grid .products {
    margin: 15px 0;
}


/* Product List */

.products-listItem {
    float: left;
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

.products-listItem .products {
    border: 1px solid #e1e1e1;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
    padding: 15px;
    margin-top: 15px;
    min-height: 150px;
}

.products-listItem .products:hover {
    background: #fff;
    border-color: #f7544a;
    -webkit-box-shadow: 0 0 5px 1px #d3d3d3;
    box-shadow: 0 0 5px 1px #d3d3d3;
}

.products-listItem .thumbnail {
    border: medium none;
    float: left;
    margin: 0;
    padding: 15px 10px 5px 10px;
    position: relative;
    width: 18%;
    height: auto;
}

.product-list-description {
    float: right;
    width: 75%;
}

.product-list-description .productname {
    font-size: 20px;
    color: #434343;
    text-align: left;
    margin-top: 15px;
    font-weight: 400;
}

.review_num {
    margin-left: 10px;
}

.list_bottom {
    position: relative;
    width: 100%;
    padding-top: 10px;
}

.list_bottom .button_group {
    width: auto;
}

.product-list-description .price {
    float: left;
    width: 40%;
}

.product-list-description .new_price {
    float: left;
    font-size: 28px;
    color: #ff3636;
    margin-right: 10px;
}

.product-list-description .new_price sup {
    font-size: 18px;
}

.product-list-description .old_price {
    float: left;
    text-decoration: line-through;
    font-size: 18px;
    color: #666666;
}

.product-list-description .old_price sup {
    font-size: 10px;
}

.product-list-description .button {
    margin: 0 5px;
}

.favorite,
.compare {
    float: left;
    color: #ff3636;
}

.compare {
    background-color: white;
    border: #f7544a 1px solid;
    border-radius: 5px;
    margin: 0 3px 5px 3px;
    padding: 5px 10px 5px 10px;
}

.title {
    margin-top: 5%;
    float: left;
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    font-size: 24px;
    color: #2f2f2f;
    font-weight: bold;
    padding-bottom: 5px;
}

.title strong {
    color: #f7544a;
    font-weight: 300;
    font-weight: bold;
}

.add-cart {
    color: #f7544a;
}

.page {
    align-self: center;
    margin-left: 45%;
    margin-bottom: 3%;
}

.buttonPage {
    align-content: center;
    border: 1px solid #f7544a;
    padding: 0px 10px 0px 10px;
    margin: 0px 5px 0px 5px;
    text-decoration: none;
    border-radius: 5px;
}

.buttonPage:hover {
    background-color: #f7544a;
    color: white;
}

#ref-product {
    margin: 0% 10% 0% 10%;
}

.D-M {
    margin: 5%;
}

#notice-dm {
    position: relative;
}

.isCurrentPage {
    background-color: #f7544a;
    color: white;
    align-content: center;
    border: 1px solid #f7544a;
    padding: 0px 10px 0px 10px;
    margin: 0px 5px 0px 5px;
    text-decoration: none;
    border-radius: 5px;
}


/* End Product */


/* Search */

.sort-search {
    display: flex;
    flex-direction: column;
}

.page-search {
    align-content: center;
    padding-bottom: 5%;
}


/* // CSS Của Thắng */

.container_product {
    width: 100%;
    display: flex;
}

#all-product {
    width: 100%;
    height: auto;
    margin-left: 100px;
    margin-right: 30px;
    /* border: 1px solid black; */
}

td {
    width: 150px;
    height: 20px;
    padding: 5px;
    font-family: times;
    color: #dc3545;
    font-size: 20px;
}

th {
    font-family: times;
    color: #17a2b8;
    font-size: 20px;
    padding: 5px;
}

#buyProduct {
    width: 100px;
    height: 50px;
    background: #ffffff;
    border: orange solid 1px;
    border-radius: 5px 5px 5px 5px;
}

#addProduct {
    width: 100px;
    height: 50px;
    background: #FFB6C1;
    /* border: orange solid 1px; */
    border-radius: 5px 5px 5px 5px;
}

.fas fa-shopping-cart {
    width: 100px;
    height: 50px;
    background: #FFB6C1;
    /* border: orange solid 1px; */
    border-radius: 5px 5px 5px 5px;
}


/* div{
    border: 1px black solid;
  } */

.btn btn-success {
    margin-left: 40PX;
}

.far fa-heart {
    color: red;
}

span {
    font-size: 20px;
}

p {
    font-size: 15px;
}

#addInfor {
    text-align: center;
    align-content: center;
    margin: 0 100px 0 100px;
}

#table {
    margin-left: 10px;
    font-size: small;
}

.bt1 {
    display: inline;
    background-color: white;
    color: black;
    font-size: 30px;
    height: auto;
    width: 350px;
    border-radius: 5px;
    border: none;
    color: #17a2b8;
}

.bt1 :hover {
    background-color: #dc3545;
}

.BT {
    margin-left: 100px;
    margin-top: 20px;
    font-family: arial;
}

.dohang {
    width: auto;
    height: auto;
    background: orange;
    color: black;
    /* border: 1px solid pink; */
    border: radius 10px;
}

h4 {
    text-align: center;
    color: #FF0000;
    font-size: 20px;
}

.button {
    width: 350px;
    height: auto;
    margin-left: 50px;
    margin-top: 30px;
    font-family: times;
}

li {
    display: inline;
}

.boSung {
    font-family: monospace;
    margin: 20px;
    font-size: large;
    border: 1px solid palevioletred;
    border-radius: 10px;
    width: 1200px;
    height: auto;
}

.price_size {
    border-radius: 10px 10px 10px 10px;
    border: #f7544a solid 2px;
    width: 400px;
    height: auto;
    margin-top: 10px;
    margin-left: 20px;
}

.Hinh {
    align-content: center;
}

.Hinh img {
    width: 100%;
}


/* #hinhanh{
  /* border: #dc3545 solid 1px; */

.thoatTrang {
    width: 40px;
    height: 30px;
    margin-right: 20px;
    /* border: black 2px solid; */
}

#detail {
    /* border: orange solid 1px; */
    display: block;
    border-radius: 10px;
}

.detail1 {
    /* border: orange solid 1px; */
    display: flex;
    padding: 5%;
    height: auto;
    border-radius: 10px;
    /* border: 1px solid black; */
}

.noiDung {
    color: #dc3545;
    font-size: 40px;
    margin-top: 0px;
    padding-top: 0px;
}

#detail-product {
    width: 100%;
    margin: 40px;
    border: none;
}

body {
    font-family: 'Nunito';
    overflow-x: hidden;
}

.baohanh {
    display: inline;
}

img {
    max-width: 100%;
}

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }
    .detail1 {
        display: block;
    }
}

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;
}

.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%;
}

.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block;
}

.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0;
}

.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0;
}

.tab-content {
    overflow: hidden;
}

.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.product-title {
    margin-top: 0;
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.guide-buy {
    align-content: center;
}

#pic-detail {
    align-content: center;
}

.hinh2 {
    align-content: center;
    margin-left: 15%;
    width: 70%;
    height: auto;
}